
::-webkit-scrollbar{
  display: none;
}

.cr_tainer{
  display: flex;
  flex-wrap: wrap;
  height: 85%;
  width: 85vw;
  overflow: scroll;

}
.car {
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  width: 340px;
  height: 300px;
  background: #333;
  transition: 0.5s;
}



.car .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.car .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, #04fa259d, #04fa259d,
  #04fa259d, transparent);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}
.car .lines::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #fff;
}
.car .imgBx{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.car .imgBx::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #31a84f, #31a84f,
   #31a84f, transparent);
   animation: animate2 6s linear infinite;
}
@keyframes animate2 {
  0% {
      transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
}
.car .imgBx::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}
.car .imgBx img{
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
  width: calc(100% - 30px);
  height: calc(100% - 20px);
  
}
.car .content{
  position: absolute;
  width: 100%;
  height: 94%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  
}
.car .content .details{
  margin-top: 0;
  text-align: center;
  
  
  
}

.car .content .details h2{
  font-size: 1.25em;
  padding: 10px;
  
 

}
.car .content .details h2 span{
  font-size: 0.75em;
  font-weight: 700px;
  color: #000;
}
.car .content .details .data{
  display: flex;
  justify-content: space-between;
  margin:10px 0;
}
.car .content .details .data h3{
  font-size: 1em;
  padding-left: 10px;
  justify-content: space-around;
}
.car .content .details .data h3 span{
  font-size: 0.85em;
  font-weight: 400;
  color: #000;
}
.car .content .details .actionBtn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.car .content .details .actionBtn button{
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #000;
  color: #fff;
  cursor: pointer;
 
}
/* .card .content .details .actionBtn button:nth-child(2){
  background: #fff;
} */
.car .content .details .actionBtn button:hover{
  opacity: 1;
}

@font-face {
    font-family: titulo;
    src: url(../assets/img/Brothery.ttf);
}

.img-fluid{
  width: 80px;
}

.recentorders::-webkit-scrollbar {
   color: #0864f9;
}

 .recentorders {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  
 
  }
  
  
  .cardHeader {
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    justify-content:space-around;
    margin: 20px;
    align-items: flex-start;
  }
  
  
  

  

  
  