
.contenedor{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-flow: column;
}

.contenedor-cards{
    display: flex;
    flex-flow: column;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    
}


.scroll{
    display: flex;
    flex-wrap: wrap;
    
}
header{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    margin-bottom: 10px;
    font-size: 2rem;
}
ion-icon{
    margin-top: 3px;
}
.card{
    height: max-content;
    margin-left: 20px;
}
.bottt{
    display: flex;
    justify-content: space-around;
}