
.body{
 
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: calc(100vh - 3.9rem);
  /* border: 1px solid rebeccapurple; */
}
::-webkit-scrollbar{
  display: none;
}
.containere{
  display: flex;
  flex-flow: column;
  overflow: scroll;
}
.imagenes{
  width: 140px;
  border-radius: 100%;
  
  background-color: #fff;
}
#btn{
  width: 40px;
  background: #480069;
}

.content{
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
}
.image,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.cards{
  display: flex;
  flex-flow: row;
}
.card{
    width: 260px;
    border-radius: 25px;
    margin: 1rem;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%; 
    background: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.button{
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}




/* estilos de fotos */

.car .imgBx::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      transparent,
      #31a84f,
      #31a84f,
      #31a84f,
      transparent
    );
    animation: animate2 6s linear infinite;
  }
  @keyframes animate2 {
    0% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  .car .imgBx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
  }
  .car .imgBx img {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
  }
  .car .content {
    position: absolute;
    width: 100%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  .car .content .details {
    margin-top: 0;
    text-align: center;
  }
  
  .car .content .details h2 {
    font-size: 1.25em;
    padding: 10px;
  }
  .car .content .details h2 span {
    font-size: 0.75em;
    font-weight: 700px;
    color: #000;
  }
  .car .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  .car .content .details .data h3 {
    font-size: 1em;
    padding-left: 10px;
    justify-content: space-around;
  }
  .car .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #000;
  }
  .car .content .details .actionBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .car .content .details .actionBtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  /* .card .content .details .actionBtn button:nth-child(2){
    background: #fff;
  } */
  .car .content .details .actionBtn button:hover {
    opacity: 1;
  }
  
  @font-face {
    font-family: titulo;
    src: url(../assets/img/Brothery.ttf);
  }
  
  .img-fluid {
    width: 80px;
  }
  
  .recentorders::-webkit-scrollbar {
    color: #0864f9;
  }
  
  .recentorders {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
  }
  
  .cardHeader {
    display: flex;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    justify-content: space-around;
    margin: 20px;
    align-items: flex-start;
  }
  
  .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo-container .photo-prev {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 16rem;
  }
  .photo-container .photo-prev .preview {
    margin-top: -0.5rem;
    position: relative;
  }
  .photo-container .photo-prev .preview img {
    margin-top: 0.5rem;
    width: 12rem;
    height: 11rem;
    border-radius: 1.5rem 0 1.5rem 0;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 0px 0px 5px 0px #8a8a8a;
    border: 5px solid #fff;
  }
  .photo-container .photo-prev .preview:hover {
    transform: scale(1.2);
  }
  .photo-container .photo-prev .preview:hover .clear-image {
    opacity: 1;
    transform: none;
  }
  .photo-container .photo-prev .preview .clear-image {
    position: absolute;
    right: -1rem;
    top: 0.5rem;
    opacity: 0;
    width: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ababab;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px;
    border: 4px solid #ababab;
    transition: none;
  }
  .photo-container .photo-prev .preview .clear-image:hover {
    transform: none;
  }
  .photo-container .photo-prev span {
    padding-top: 0.5rem;
    text-align: center;
  }
  .photo-container .photo-prev .material-symbols-outlined {
    margin-top: -1rem;
    font-size: 15rem;
    font-weight: 200;
    color: #9e9e9e;
    cursor: pointer;
    transition: all 1s ease;
  }
  .photo-container .photo-prev .material-symbols-outlined:hover {
    transform: scale(1.2);
  }
  .photo-container .photo-prev .image_text {
    position: absolute;
    bottom: 0;
  }
  .photo-container .photo-prev .stop {
    cursor: pointer;
  }
  .photo-container .photo-prev .stop:hover {
    color: #0d6efd;
  }
  .photo-container .photo-prev .loading {
    position: absolute;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #b6b6b6;
    border-bottom: 12px solid #b6b6b6;
    width: 8rem;
    height: 8rem;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    cursor: pointer;
  }
  
  .flash-icon {
    -webkit-animation: flash 500ms ease-in;
    animation: flash 500ms ease-in;
  }
  
  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  