.container_sales{
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background: gainsboro;
    align-items: center;
}
.container_table{
 background: white;
 height: 100%;
 width: 98%;
 margin: 12px;
 border-radius: 15px;
}
table{
    width: 96%;
    margin: 20px;
}
